body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: #F9F5F1;
    font-family: 'Libre Franklin', sans-serif;
    overflow: hidden;
}

h2{
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 20px;
    text-align: center;
    color: #221F1C;
    opacity: .9;
}

.clock{
    color: #F9F5F1;
    display: flex;
}

.clock div{
    margin: 5px;
    position: relative;
}

.clock span{
    width: 100px;
    height: 80px;
    background: #020887;
    opacity: .7;
    color: #F9F5F1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.clock .text{
    height: 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #020887;
    opacity: .8;
}

.clock #ampm{
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 18px;
    background: #020887;
    opacity: .8;
    letter-spacing: 1.5px;
}